.focim {
    font-size: clamp(50px, 10vw, 99999px);
}

#masodikfocim {
    font-size: clamp(50px, 8vw, 99999px);
}

.focimcol {
    height: 100vh;
}

.focimrow {
    height: 120vh;
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: linear-gradient(0deg, #553C7B 12%, #073AFF00 16%), repeating-linear-gradient(315deg, #B9A7D433 92%, #00000000 100%), repeating-radial-gradient(75% 75% at 238% 218%, #B9A7D414 30%, #751EF000 39%), radial-gradient(99% 99% at 109% 3%, #FA4283FF 0%, #00000000 80%), radial-gradient(99% 99% at 21% 78%, #7B00FFFF 0%, #00000000 100%), radial-gradient(160% 154% at 50% 50%, #553C7B 0%, #7351a7 100%);
}

body {
    overflow-x: hidden;
    background-color: #553C7B;
}

.ujhatterszin {
    background-color: rgba(0, 55, 96, 1);
}

.gradient {
    height: 10vh;
    background: rgb(85, 60, 123);
    background: -moz-linear-gradient(180deg, rgba(85, 60, 123, 1) 32%, rgba(0, 55, 96, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(85, 60, 123, 1) 32%, rgba(0, 55, 96, 1) 100%);
    background: linear-gradient(180deg, rgba(85, 60, 123, 1) 32%, rgba(0, 55, 96, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#553c7b", endColorstr="#003760", GradientType=1);
}

#szinvalto {
    height: 100px;
    transition: background-color 1s ease-in-out;
}

.change-color {
    flex: 1;
    transition: all 0.8s ease;
    --bs-btn-hover-color: white;
}

.change-col {
    flex: 1;
}

#kifinomultszinek,
#alertTeszt,
#alertTeszt a {
    transition: all 0.8s ease;
}

#ikonokIde svg {
    transition: all 0.4s ease;
}

#tableTeszt,
#tableTeszt * {
    transition: background-color 0.8s ease, width 0.8s ease, height 0.8s ease, padding 0.8s ease;
}


.flex1 {
    flex: 1;
}

.bg-transition {
    background-image: linear-gradient(to right, #007bff, #ff0000);
    animation: bg-transition 3s ease-in-out forwards;
}

@keyframes bg-transition {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

.nagyikonok svg {
    height: 2.5rem;
    width: 2.5rem;
}

.fs-8 {
    font-size: 0.8rem !important;
}

.minw50 {
    min-width: 50%;
}

#cols {
    height: 5vh;
}

.minheight20vw {
    min-height: 20vw;
}

.szemleltetes {
    border: 2px solid red;
}

.minh50 {
    min-height: 50px;
}

.text-justify {
    text-align: justify;
}

#meretezheto {
    max-width: 100%;
    border: 3px solid blue;
}

#meretezokar {
    cursor: col-resize;
    background-color: red;
}

#progressbaranimation {
    animation: betolt 10s infinite linear;
    background-color: #553C7B;
}

#kepTeszt {
    min-width: 50%;
    max-width: 100%;
    transition: width 0.8s ease, height 0.8s ease, border-radius 0.8s ease, border 0.8s ease, padding 0.8s ease;
}

.kozepre-animation {
    animation: kozepre 0.8s ease;
}

.balra-animation {
    animation: balra 0.8s ease;
}

@keyframes kozepre {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(50%);
    }
}

@keyframes balra {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.feherkorvonal {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

@keyframes betolt {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

mark {
    background-color: unset;
    border: 1px solid red;
}

.kicsuszas {
    -webkit-animation: kicsuszas 0.6s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    animation: kicsuszas 0.6s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

@-webkit-keyframes kicsuszas {
    0% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
        transform: translateX(1000px) scaleX(2) scaleY(0.2);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}

@keyframes kicsuszas {
    0% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
        transform: translateX(1000px) scaleX(2) scaleY(0.2);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}

.becsuszas {
    -webkit-animation: becsuszas 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: becsuszas 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes becsuszas {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes becsuszas {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

/* IDOVONAL */

.idovonal {
    background: rgba(0, 55, 96);
    border-left: 2px solid #333;
}

.kartya {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    border-radius: 8px;
    max-width: 400px;
}

.kartyabelso {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kartyacim {
    color: #A28BE7;
    position: relative;
}

.kartyacim::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -39px;
    border: 3px solid #A28BE7;
}