.focim {
    font-size: clamp(50px, 10vw, 99999px);
}

.focimcol {
    height: 100vh;
}

.focimrow {
    height: 120vh;
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: linear-gradient(0deg, #553C7B 12%, #073AFF00 16%), repeating-linear-gradient(315deg, #B9A7D433 92%, #00000000 100%), repeating-radial-gradient(75% 75% at 238% 218%, #B9A7D414 30%, #751EF000 39%), radial-gradient(99% 99% at 109% 3%, #FA4283FF 0%, #00000000 80%), radial-gradient(99% 99% at 21% 78%, #7B00FFFF 0%, #00000000 100%), radial-gradient(160% 154% at 50% 50%, #553C7B 0%, #7351a7 100%);
}

body {
    overflow-x: hidden;
    /* Prevents horizontal scroll */
    padding-bottom: 200px;
    background-color: #553C7B;
}

#color-box {
    height: 100px;
}

svg {
    height: 2rem;
    width: 2rem;
}

.minw50 {
    min-width: 50%;
}

#cols {
    height: 5vh;
}

.minheight {
    min-height: 20vw;
}

.szemleltetes {
    border: 2px solid red;
}

.minh50 {
    min-height: 50px;
}

.text-justify {
    text-align: justify;
}

#meretezheto {
    min-width: 20%;
    min-height: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
}

#meretezokar {
    cursor: col-resize;
    background-color: red;
}

.custom-col-sm-12-md-4 {
    width: calc(100% / 3);
}